
/* --- Media queries para responsividad --- */
@media (max-width: 480px) {
    .avatar {
        width: 80px;
        height: 80px;
        font-size: 35px;
    }
}
@media (max-height: 500px) {
    .login-container {
        transform: scale(0.85);
        transform-origin: top center;
        margin-top: 10px;
        min-height: auto;
            margin-top: 120px;
    }
    
    .olas{
        width: 100%;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra horizontalmente */
    margin: 0;
}